<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306291841913-08gm6rkpklh6k7qqfim1bkc92uji6bcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306291841913-08gm6rkpklh6k7qqfim1bkc92uji6bcg</string>
	<key>API_KEY</key>
	<string>AIzaSyCx3B5uBwP_iOEAooHXv4jX4uy9Eyk1K7s</string>
	<key>GCM_SENDER_ID</key>
	<string>306291841913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.promiso</string>
	<key>PROJECT_ID</key>
	<string>promiso-20274</string>
	<key>STORAGE_BUCKET</key>
	<string>promiso-20274.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306291841913:ios:87adee6444e7ac01c9ada8</string>
</dict>
</plist>